body {
  margin: 0;
  background-color: rgb(243, 151, 151);
  width: auto;
}
.App {
  min-height: 100vh;
}
.all-container {
  display: flex;
  min-height: 100vh;
}
.secondCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.MetersContainer {
  max-width: 320px;
  margin: 15px;
  display: flex;
  padding: 25px;
  background-color: rgb(76, 71, 71);
  justify-content: space-between;

  flex-wrap: wrap;
}
.MetersContainer-2 {
  margin: 15px;
  height: fit-content;
  width: auto;
  border-radius: 5px;

  display: flex;
  padding: 20px;
  background-color: rgb(70, 58, 58);
  justify-content: space-around;

  flex-wrap: wrap;
}
.MeterContainer {
  padding: 15px;
  border-radius: 10000px;
  background-color: rgba(97, 13, 93, 0.2);
  margin: auto;
}
.MeterContainer-2 {
  padding: 15px;
  border-radius: 10000px;
  margin: 15px 15px 15px 15px;

  background-color: rgba(97, 13, 93, 0.2);
}

div.alert::before {
  position: relative;
  top: -60px;

  content: "WARNING";
  background-color: orange;
  border: 1px solid red;
}
.DigitsContainer {
  margin: 15px;
  height: fit-content;
  width: auto;
  border-radius: 5px;

  display: flex;
  padding: 20px;
  background-color: rgb(70, 58, 58);
  justify-content: space-around;

  flex-wrap: wrap;
}
.digits {
  margin: 10px 0;
}
