.airbrakeContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 42, 42);
  border-radius: 5px;
  padding: 15px;
  width: 150px;
  height: 75px;
  color: white;
  font-family: "Heebo", sans-serif;
}
.AirBrakeSecondCard {
  margin: auto 0 auto 0;
}
.lights {
  display: flex;
  justify-content: space-between;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.green-deployed {
  background-color: rgb(145, 255, 0);
  border: 1px solid green;
}
.green-retracted {
  background-color: rgba(48, 83, 1, 0.15);
  border: 1px solid green;
}
.red-deployed {
  background-color: rgb(255, 30, 0);
  border: 1px solid rgb(255, 0, 0);
}
.red-retracted {
  background-color: rgba(156, 11, 11, 0.15);
  border: 1px solid rgb(255, 0, 0);
}
